body {
  font-family: 'Open Sans', sans-serif;
}
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.2rem;
}
h1 {
  font-family: Arvo, serif;
}
h2 {
  font-family: Arvo;
  font-size: 1.4rem;
  line-height: 1;
}
h3 {
  font-family: Arvo, serif;
}

.app-logo {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.siema {
  height: 100%;
}
.avatar {
  width: 20%;
  height: auto;
  border-radius: 50%;
  border: 4px solid #fdc31f;
}
.siema > div, .siema > div > div, .slide {
  height: 100%;
}
button {
  position: absolute;
  top: 50%;
}
.intro {
  background:linear-gradient(
      rgba(15, 182, 206, 0.8),
      rgba(31, 204, 135, 0.8)
    ), url('./images/graduation.jpg');
}
.intro > div {
  justify-content: flex-end;
}
.title {
  background-color: rgba(255,255,255,.8);
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem;
}
.title h1 {
  color: rgb(0, 201, 124);
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
}
.about {
  background: linear-gradient(
      rgba(250, 112, 63, 0.8),
      rgba(250, 112, 63, 0.8)
    ), url('./images/grounds.jpg');
}
.courses {
  background: linear-gradient(
      rgba(253, 195, 31, 0.8),
      rgba(253, 195, 31, 0.8)
    ), url('./images/class.jpg');
}
.donate {
  background: linear-gradient(
      rgba(15, 182, 206, 0.8),
      rgba(15, 182, 206, 0.8)
    ), url('./images/group.jpg');
}
.section {
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
}
.slider {
  padding: 0;
}
.fp-tableCell {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.jacob {
  background: linear-gradient(
      90deg,
      rgba(15, 182, 206, 0.8),
      rgba(31, 204, 135, 0.8)
    ), url('./images/jacob.jpg');
}
.matthew {
  background: linear-gradient(
      90deg,
      rgba(31, 204, 135, 0.8),
      rgba(253, 195, 31, 0.8)
    ), url('./images/matthew.jpg');
}
.hosea {
  background: linear-gradient(
      90deg,
      rgba(253, 195, 31, 0.8),
      rgba(250, 112, 63, 0.8)
    ), url('./images/hosea.jpg');
}
.reuben {
  background: linear-gradient(
      90deg,
      rgba(250, 112, 63, 0.8),
      rgba(15, 182, 206, 0.8)
    ), url('./images/reuben.jpg');
}
.slide {
  background-size: cover;
  background-position: center;
}
.call-to-action {
  left: 50%;
}